<!DOCTYPE html>

<html lang="en">
<head>
<title>
Task Timer
</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- Favicon -->
   <link rel="shortcut icon" href="/img/Group.png">

   <!-- CSS Global Compulsory -->
   <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
   <link rel="stylesheet" href="/css/main.css">

</head>

<div class='main'>

<div class='title'>
<img src="/img/Group.png">
TASK TIMER
</div>
<form class="input" method="post">

  <input class="myTask" name='newTask' placeholder="Enter task name">
  <button type="submit" class="submit" style="border-style:none;  width:56px; height:56px; background-repeat:no-repeat;">
  <img src="/img/Group 3.png"/>
  </button>
</form>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>

</html>
